.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.windowContainer {
  width: 80%;
  height: 80%;
  padding: 50px 0;
}

.template {
  gap: 20px;
}

.baseInfo {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  flex-grow: 0;
  width: 500px;
}
.inputs > div {
  width: 45%;
}

.genders {
  display: flex;
}

.classesContainer {
  height: 150px;
}