.wrapper {
  width: 33.3%;
  display: flex;
  justify-content: center;
}

.container {
  background-color: #00555a;
  border: 1px solid white;
  padding: 15px;
  width: 400px;
}

.title {
  font-size: 27px;
  margin-bottom: 10px;
  text-shadow: 
    0 0 2px #4bd2dd,
    0 0 4px #4bd2dd,
    0 0 6px #4bd2dd,
    1px 1px 2px rgba(75, 210, 221, 0.5);
}

.sectionTitle {
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 0.75rem;
  width: 100%;
  text-align: center;
  text-shadow: 
    0 0 5px #000000,
    0 0 15px #000000,
    0 0 25px #000000,
    1px 1px 2px rgba(0, 0, 0, 0.8);
}